.idea/*
**/.terraform/*
infrastructure/modules/**/.terraform.lock.hcl
**/*_tf_data_dir/*
*.backup
**/.venv/*
*.zip
*.pyc
.vscode
**/layer/
*.egg-info
.mypy_cache
build
dist
.coverage
coverage.xml
coverage.json
htmlcov
junit.xml
.envrc
